<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://thymeleaf.org"
      layout:decorate="_layout">
   <div layout:fragment="content">

<div class="right_col" role="main" style="min-height: 674.8px;">
          <div class="">

            <div class="page-title">
              <div class="title_left">
                <h3>Inbox Design <small>Some examples to get you started</small></h3>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
             <p><b style="font-size:26px">Introduction</b></p>
             <div style="font-size:14px;">
             Welcome to www.bqubar.com operated by Bqubar India private limited (with registered address at Door No 19-2-62, Kalidasu vari street, kandukur-523105, Prakasam DT, Andhra Pradesh). These are the terms and conditions governing your use of the site. By accessing B Cubar either through the website or any other electronic device, you acknowledge, accept and agree to the following terms &amp; conditions. This is effective from the time you log in to B Cubar. By accepting this, you are also accepting and agreeing to be bound by the privacy policy and the Terms &amp; conditions.
              </div>
              <p><b style="font-size:26px; margin-top:20px; display:inline-block;">About us</b></p>
              <div style="font-size:14px;">
            Bqubar is E-Commerce Web / App for buying new vehicles and used vehicles in India. As a marketplace, Bqubar offers Great selection, On Road price as per individual show room, trust, transparency, and convenience to all type of vehicle needed people. Our B Cubar main concept is who was the Crazy, Styling, Professionally, Family and etc persons, what they want to their type of vehicles from Bicycle to Benz.  In our B Cubar web/app, search what you wanted about vehicles, from your nearer showroom in your area, on road price of the vehicle availability of the vehicle, color of the vehicle and etc. B Cubar E-Commerce web/app is eco-friendly platform for buying vehicles, between the customers and automobile showrooms.
              </div>
              
              <p><b style="font-size:26px; margin-top:20px; display:inline-block;">My experience (Founder &amp; CEO)</b></p>
              <div style="font-size:14px;">
             In my experience I observe my friends, colleges, are want to Buy their own vehicles they are searching, town by town show rooms for they needed vehicle-color-model-price-brand-service etc. some times they are spending thousands of money for searching the present availability of such type of vehicles. So, with all these facts and reasons, I have start this friendly, eco, ecommerce site.
              </div>
              
              
              </div>
            </div>
          </div>
        </div>
        </div>