<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://thymeleaf.org"
      layout:decorate="_layout">
   <div layout:fragment="content">

<div class="right_col" role="main" style="min-height: 1317px;">
          <div class="">

            <div class="page-title">
              <div class="title_left">
                <h3>BQUBAR</h3>
              </div>
            </div>
            <div class="clearfix"></div>


            <div class="row">
              <div class="col-md-12">
             <div>
             <div>
             <!--- India states -->
<label>State:</label><select class="customse" name="country-state">
    <option value="AN">Andaman and Nicobar Islands</option>
    <option value="AP">Andhra Pradesh</option>
    <option value="AR">Arunachal Pradesh</option>
    <option value="AS">Assam</option>
    <option value="BR">Bihar</option>
    <option value="CH">Chandigarh</option>
    <option value="CT">Chhattisgarh</option>
    <option value="DN">Dadra and Nagar Haveli</option>
    <option value="DD">Daman and Diu</option>
    <option value="DL">Delhi</option>
    <option value="GA">Goa</option>
    <option value="GJ">Gujarat</option>
    <option value="HR">Haryana</option>
    <option value="HP">Himachal Pradesh</option>
    <option value="JK">Jammu and Kashmir</option>
    <option value="JH">Jharkhand</option>
    <option value="KA">Karnataka</option>
    <option value="KL">Kerala</option>
    <option value="LA">Ladakh</option>
    <option value="LD">Lakshadweep</option>
    <option value="MP">Madhya Pradesh</option>
    <option value="MH">Maharashtra</option>
    <option value="MN">Manipur</option>
    <option value="ML">Meghalaya</option>
    <option value="MZ">Mizoram</option>
    <option value="NL">Nagaland</option>
    <option value="OR">Odisha</option>
    <option value="PY">Puducherry</option>
    <option value="PB">Punjab</option>
    <option value="RJ">Rajasthan</option>
    <option value="SK">Sikkim</option>
    <option value="TN">Tamil Nadu</option>
    <option value="TG">Telangana</option>
    <option value="TR">Tripura</option>
    <option value="UP">Uttar Pradesh</option>
    <option value="UT">Uttarakhand</option>
    <option value="WB">West Bengal</option>
</select>
             <label>District:</label><select class="customse" id="secondlist">
             <option value="Anantapur">Anantapur</option>
             <option value="Chittoor">Chittoor</option>
             <option value="East Godavari">East Godavari</option>
             <option value="Guntur">Guntur</option>
             <option value="Krishna">Krishna</option>
             <option value="Kurnool">Kurnool</option>
             <option value="Prakasam">Prakasam</option>
             <option value="Srikakulam">Srikakulam</option>
             <option value="SriPotti Sri Ramulu Nellore">SriPotti Sri Ramulu Nellore</option>
             <option value="Vishakhapatnam">Vishakhapatnam</option>
             <option value="Vizianagaram">Vizianagaram</option>
             <option value="West Godavari">West Godavari</option>
             <option value="Cudappah">Cudappah</option>
             </select>
             <label>Area:</label><select class="customse" id="secondlist">
             <option value="Anantapur">Ongole</option>
             <option value="Chittoor">Kandukur</option>
             <option value="East Godavari">Kanigiri</option>
             <option value="Guntur">Ulavapadu</option>
             
             </select>
              </div>
              
              <div>
              <table class="tabletd">
              <tbody>
              <tr style="background-color:#dfe0e2;">
              <th style="width:10%;color: blueviolet;">Dealer Id</th>
              <th style="width:10%;color: blueviolet;">Dealer Name</th>
              <th style="width:10%;color: blueviolet;">Dealer Type</th>
              <th style="width:10%;color: blueviolet;">Email ID</th>
              <th style="width:10%;color: blueviolet;">Mobile No.</th>
              <th style="width:20%;color: blueviolet;">Creation Date</th>
              <th style="width:30%;color: blueviolet;">Dealer Certificates</th>
              <td style="width:100%;color: blueviolet;">Menu</td>
              </tr>
              <tr>
              <td colspan="8" align="center"> No records found     </td>     
              </tr>
              </tbody>
              </table>
              </div>
              
              
             </div>
              </div>
            </div>
          </div>
        </div>
        </div>